h1 {
  font-size: 36px;
  font-family: 'Arial', sans-serif;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  font-size: 28px;
  font-family: 'Arial', sans-serif;
  color: #555;
  margin-bottom: 15px;
}



table {
  width: 30%;
  border-collapse: collapse;
  margin-top: 2px;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 8px;
  text-align: left;
}

.error {
  background-color: #ffcccb;
  color: #a94442;
  padding: 10px;
  border-radius: 5px;
  margin: 20px 0;
}

p {
  font-size: 23px;
  font-family: 'Ariel', serif;
  color: #444;
  line-height: 1.6;
  margin-bottom: 10px;
}
